#mainBanner img {
    width: 100%;
}

#mainBanner {
    width: 100%;
    height: 400px;
}


#mainBanner .banner-title {
    color: white;
    position: absolute;
    top: 45%;
    width: 100%;
}



#mainBanner .banner-title h1{
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 24px;
    font-weight: normal;
}

@media(max-width: 767px){
    #mainBanner {
        height: 280px;
    }

    #mainBanner .banner-title {
        top: 25%;
    }

    #mainBanner .banner-title h1{
        font-size: 14px;
    }
}

#mainContent {
    padding-top: 20px;
    padding-bottom: 90px;
}

#mainContent h1 {
    margin-bottom: 40px;
}

#mainContent p {
    margin-bottom: 20px;
}