body {
	background-color: #F1F2F2 !important;
}

/**************************************/
/************** Profile ***************/
/**************************************/

.account {
	margin-top: 50px;
	padding-bottom: 50px;
}

.account .help-block {
	color: red;
	font-size: 12px;
}

/**************************************/
/******** Profile Information *********/
/**************************************/

.profile-information {
	background-color: #fff;
	padding: 20px;
}

.profile-information p {
	color: #0f3844;
}

.profile-header {
	text-align: center;
}

.profile-image {
	margin: 15px auto;
}

.profile-image img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	cursor: pointer;
}

.profile-image > input {
    display: none !important;
}

.profile-name {
	font-size: 18px;
	margin-bottom: 50px;
}

.profile-body {
	font-size: 12px;
	margin-bottom: 20px;
}

.profile-body p {
	padding-bottom: 20px;
}

.profile-body span {
	padding-left: 5px;
}

/**************************************/
/*** Edit Profile & Change Password ***/
/**************************************/

.edit-profile {
	background-color: #fff;
	padding: 20px;
}

@media(max-width: 767px){
	.edit-profile{
		margin-top: 20px;
	}
}

.edit-profile .nav {
	margin-top: 20px;
	margin-bottom: 30px;
}

.edit-profile li.active a {
	border: 1px solid #fff !important;
	border-bottom: 3px solid #ebd38c !important;
}

.edit-profile li a {
	color: #0f3844;
}

.edit-profile input, .change-password input {
	border-radius: 0;
	border: 1px solid #0F3844;
	font-size: 12px;
}

.birthdate, .gender, .interest {
	margin-top: 10px;
}

.birthdate label, .gender label, .gender span, .interest label {
	font-size: 11px;
	font-weight: 300;
}

.birthday label, .interest label {
	margin-bottom: 10px;
}

.gender span {
	margin-left: 3px;
	margin-right: 15px;
}

.interest .label {
	background-color: #d3d3d3;
	color: #000;
	font-size: 12px;
	font-weight: 300;
	border-radius: 0;
	cursor: pointer;
}

.interest .selected {
	background-color: #ebd38c !important;
	font-size: 12px;
	font-weight: 300;
	border-radius: 0;
	cursor: pointer;
}

.account button {
    border-radius: 0;
    background-color: #d33e40;
    border-color: #d33e40;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 0 15px 0;
}

::-webkit-input-placeholder {
    font-size: 10px;
    text-transform: uppercase;
}
:-moz-placeholder {
	font-size: 10px;
    text-transform: uppercase;
}
::-moz-placeholder {
    font-size: 10px;
    text-transform: uppercase;
}
:-ms-input-placeholder {
    font-size: 10px;
    text-transform: uppercase;
}


/**************************************/
/*************** Date *****************/
/**************************************/

input[name="birthdate"] {
    position: relative;
    width: 225px; 
    height: 30px;
    color: white;
}

input[name="birthdate"]:before {
    position: absolute;
    content: attr(data-date);
    display: inline-block;
    color: #0f3844;
}

input[name="birthdate"]::-webkit-datetime-edit, input[name="birthdate"]::-webkit-inner-spin-button, input[name="birthdate"]::-webkit-clear-button {
    display: none;
}

input[name="birthdate"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    right: 5px;
    color: black;
    opacity: 1;
}