.register {
    background: url('../images/bg_form.jpg') center center no-repeat;
    background-size: cover;
}

@media(max-width: 767px){
    .register {
        padding: 20px;
    }
}

.register .panel {
    max-width: 500px;
    border-radius: 0;
    border-color: #0f3844;
    margin: 50px auto;
}

.register .panel-heading {
    background-color: #0f3844;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.register .panel-body {
    padding: 20px 30px 0 30px;
}

.register label, .register span {
    font-size: 12px;
    font-weight: 400;
}

.register input {
    border-radius: 0;
    border: 1px solid #0f3844;
    font-size: 12px;
}

.register .gender {
    margin-right: 20px;
}

.register .gender input {
    margin-right: 5px;
}

.register button {
    border-radius: 0;
    background-color: #d33e40;
    border-color: #d33e40;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px 30px;
}

.register button:hover {
    background: #b32c2d;
    border-color: #b32c2d;
}

.register hr {
    height: 2px;
    border-top: 1px solid #0f3844;
    border-bottom: 1px solid #0f3844;
}

.help-block p {
    color: red;
    font-weight: 300;
    font-size: 12px;
}

input[name="birthdate"] {
    position: relative;
    width: 100%; 
    height: 30px;
    color: white;
}

input[name="birthdate"]:before {
    position: absolute;
    content: attr(data-date);
    display: inline-block;
    color: #0f3844;
}

input[name="birthdate"]::-webkit-datetime-edit, input[name="birthdate"]::-webkit-inner-spin-button, input[name="birthdate"]::-webkit-clear-button {
    display: none;
}

input[name="birthdate"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    right: 5px;
    color: black;
    opacity: 1;
}