.login {
    background-size: cover;
}

@media(max-width: 767px){
    .login {
        padding: 20px;
    }
}

.login .panel {
    border-radius: 0;
    border-color: #0f3844;
    margin: 50px auto;
    max-width: 500px;
}

.login .panel-heading {
    background-color: #0f3844;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.login .panel-body {
    padding: 20px 30px 0 30px;
}

.login label {
    font-size: 12px;
    font-weight: 400;
}

.login input {
    border-radius: 0;
    border: 1px solid #0f3844;
    font-size: 12px;
}

.login button {
    border-radius: 0;
    background-color: #d33e40;
    border-color: #d33e40;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px 30px;
}

.login button:hover {
    background: #b32c2d;
    border-color: #b32c2d;
}

.login hr {
    height: 2px;
    border-top: 1px solid #0f3844;
}

.login .forget-password {
    font-size: 12px;
    color: #d33e40;
}

.login .login-sosmed {
    text-align: center;
    font-size: 12px;
}

.login-sosmed button {
    min-width: 200px;
    min-height: 50px;
    font-size: 18px;
}

.login-sosmed i {
    margin-right: 30px;
    margin-top: 5px;
}

.login-facebook button {
    background-color: #3b5998;
    border-color: #3b5998;
    border-style: none;
    margin-bottom: 10px;
}

.login-facebook button:hover {
    background: #193f8e;
    border-color: #193f8e;
}

.login-google button {
    background-color: #d34836;
    border-color: #d34836;
    border-style: none;
    margin-bottom: 30px;
}

.help-block p {
    color: red;
    font-weight: 300;
    font-size: 12px;
}