.password-email {
    margin-top: 50px;
    padding-bottom: 50px !important;
}

.password-email .panel {
    border-radius: 0;
    border-color: #0f3844;
}

.password-email .panel-heading {
    background-color: #0f3844;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.password-email .panel-body {
    padding: 20px 30px 0 30px;
}

.password-email label, .password-reset span {
    font-size: 12px;
    font-weight: 400;
}

.password-email input {
    border-radius: 0;
    border: 1px solid #0f3844;
    font-size: 12px;
}

.password-email button {
    border-radius: 0;
    background-color: #0f3844;
    border-color: #0f3844;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px 30px;
}

.password-email hr {
    height: 2px;
    border-top: 1px solid #0f3844;
    border-bottom: 1px solid #0f3844;
}

.help-block p {
    color: red;
    font-weight: 300;
    font-size: 12px;
}