.password-reset {
    background-size: cover;
}

@media(max-width: 767px){
    .password-reset {
        padding: 20px;
    }
}

.password-reset .panel {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    border-color: #0f3844;
    margin-bottom: 50px !important;
    margin-top: 50px;
}

.password-reset .panel-heading {
    background-color: #0f3844;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.password-reset .panel-body {
    padding: 20px 30px 0 30px;
}

.password-reset label, .password-reset span {
    font-size: 12px;
    font-weight: 400;
}

.password-reset input {
    border-radius: 0;
    border: 1px solid #0f3844;
    font-size: 12px;
}

.password-reset button {
    border-radius: 0;
    background-color: #d33e40;
    border-color: #d33e40;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px 30px;
}

.password-reset button:hover {
    background: #b32c2d;
    border-color: #b32c2d;
}

.password-reset hr {
    height: 2px;
    border-top: 1px solid #0f3844;
    border-bottom: 1px solid #0f3844;
}

.help-block p {
    color: red;
    font-weight: 300;
    font-size: 12px;
}