body {
	background-color: #f1f2f2 !important;
}

/**************************************/
/************** Checkout **************/
/**************************************/

.checkout {
	margin-top: 50px;
	padding-bottom: 80px;
}

.checkout .panel {
	border-radius: 0;
	border-color: #fff;
}

.checkout .panel-heading {
	background-color: #0f3844;
	border-radius: 0;
	color: #fff;
}

.checkout .panel-title {
	font-size: 14px;
}

.checkout label {
	font-size: 14px;
	font-weight: 300;
}

.checkout-input {
	margin-bottom: 20px;
}

/**************************************/
/*********** Contact Details **********/
/**************************************/

.contact-details .panel-body {
	padding: 20px 0;
}

.contact-alert {
	padding-top: 30px;
	font-size: 11px;
	font-weight: 300;
}

.contact-details input {
	border-radius: 0;
	border: 1px solid #0f3844;
	font-size: 12px;
}

/**************************************/
/********** Payments Options **********/
/**************************************/

.payment-options {
	border: 0 !important;
}

.payment-options .panel-body {
	padding: 0;
}

.payment-options .thumbnail {
	border-radius: 0;
	margin: 0
}

.payment-box {
    width: 20%;
    border: 1px solid black;
    float: left;
    height: 130px;
    white-space: nowrap;
    text-align: center;
}

.payment-box:before{
	content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

@media(max-width: 767px){
	.payment-box {
		width: 33.3%;
	}
}

@media(max-width: 520px){
	.payment-box {
		width: 50%;
	}
}


.payment-box img {
	display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;
    max-width: 80%;
    max-width: 100px;
}

.payment-box:hover {
	cursor: pointer;
	background-color: #f1f2f2;
}

.payment-selected {
	background-color: #f1f2f2 !important;
}

.payment-disabled {
	background-color: #f1f2f2 !important;
}

/**************************************/
/*********** Order Details ************/
/**************************************/

.order-details {
	background-color: #fff;
	padding: 15px 15px 0 15px;
}


.order-summary {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #0f3844;
	font-weight: 00;
	font-size: 14px;
	margin-top: 5px;
}

.ticket-quantity-head {
	margin-bottom: 0;
}

.ticket-quantity-total {
	font-size: 40px;
	color: #ebd38c;
	margin-right: 2px;
	font-weight: 500;
}

.ticket-title {
	color: #ebd38c;
}

.event-name {
	font-size: 31px;
	line-height: 120%;
	color: #0f3844;
	font-weight: 400;
	letter-spacing: 0.03em;
}

.event-details {
	padding: 20px 15px;
	border-bottom: 1px dotted black;
	letter-spacing: 0.04em;
}

.event-location, .event-date, .event-time {
	color: #0f3844;
	font-size: 12px;
	margin-bottom: 0px;
}

.ticket-list {
	margin-top: 20px;
	margin-bottom: 40px;
}

.ticket-row {
	padding-bottom: 3px;
}

.ticket-name, .ticket-quantity, .ticket-total-price {
	font-weight: 400;
	font-size: 12px;
}

.subtotal {
	padding-bottom: 15px;
	border-bottom: 1px dotted #ddd;
}

.subtotal-title {
	font-weight: 300;
	font-size: 11px;
}

.subtotal-price {
	font-weight: 400;
	font-size: 12px;
}

.adminfee {
	padding: 15px;
}

.adminfee-plus {
	font-weight: 300;
	font-size: 11px;
	letter-spacing: 0.2em;
}

.adminfee-title {
	font-weight: 400;
	font-size: 12px;
	padding-left: 0 !important;
}

.adminfee-price {
	font-weight: 400;
	font-size: 12px;
	padding-left: 20px !important;
}

.adminfee-vat {
	font-weight: 300;
	font-size: 10px;
}

.grandtotal {
	background-color: #ebd38c;
	padding: 0 15px;
}

.grandtotal-title {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.1em;
	padding: 5px 0;
}

.grandtotal-price {
	font-weight: 400;
	font-size: 12px;
	padding-top: 10px;
}

.checkout button {
	background-color: #d33e40;
	color: #fff;
	border-radius: 7px;
	min-width: 100px;
	-webkit-appearance: none;
}

.error-block {
    color: red;
    font-weight: 300;
    font-size: 12px;
}

#error-message {
	display: none;
}

#countdown {
	margin-bottom: 10px;
	text-align: center;
}

#countdown .countdown-element{
	display: inline-block;
	text-align: center;
}

#countdown .countdown-element span{
	display: block;
	font-size: 32px;
	color: #d53c3f;
	padding: 0 10px;
}

#countdown .countdown-element label{
	color: #133743;
}