.banner {
	width: 100%;
}

@media(max-width: 767px){
	.banner{

	}
}

.banner-contact{}

#description{
    margin-top: 4em;
    margin-bottom: 1em;
}

#firstContent {
    padding-top: 20px;
}

.singleLine {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.singleLine input {
	width: 50%
}

.singleLine input, textarea {
    border-radius: 0 !important;
    border-color: #092D33 !important;
    margin-bottom: 0;
}

#secondContent {
	padding-top: 25px;
	padding-left: 90px;
}

.contact {
	background-color: #F2F1F0
}

.contact-error {
	font-size: 12px;
	margin-top: 5px;
	color: red;
	margin-bottom: 15px;
}

.contact-error{
	color: red;
	margin:5px 0;
}

.message-submit{
	border: 1px solid #b32c2d;
	border-radius: 0;
	padding-left: 20px;
	padding-right: 20px;
	background: #d53f40;
	margin-bottom: 20px;
	color: #fff;
}

.message-submit:hover{
	background:  #b32c2d;
	color: #fff;
}