/**************************************/
/************ Home Title **************/
/**************************************/

.home-title {
    color: #0F3844;
    margin: 50px 0 15px; 
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
}

/**************************************/
/************* Search Bar *************/
/**************************************/

.search {
    background-color: #fff;
}

.search-bar {
    margin-bottom: 40px;
}

.search-bar select, .search-bar input {
    float: left;
    -webkit-appearance: none;
    border: 2px solid #0f3844;
    border-radius: 0;
    color: #0f3844;
    background-color: #fff;
}

.search-category, .search-type {
    max-width: 19%;
}

.search-location {
    max-width: 17%;
}

.search-date {
    max-width: 15%;
}

.search-price {
    max-width: 15%;
}

.search-bar button {
    width: 15%;
    border-radius: 0;
    background-color: #d33e40;
    border-color: #d33e40;
}

.search-bar button:hover {
    background-color: #d33e40;
    border-color: #d33e40;
}

::-webkit-input-placeholder {
    color: #0f3844;
}
:-moz-placeholder {
    color: #0f3844;
}
::-moz-placeholder {
    color: #0f3844;
}
:-ms-input-placeholder {
    color: #0f3844;
}

.gethype-line img {
    width: 100%;
    max-height: 5px;
}

/**************************************/
/*********** Search Events ************/
/**************************************/

.search-events {
    background-color: #fff;
    padding-bottom: 30px;
}

.search-events .events {
    margin-bottom: 20px;
}

.search-events .event-box {
    cursor: pointer;
    padding-bottom: 15px;
}

.search-events .event-box a {
    color: #000;
}

.search-events .event-box .thumbnail {
    padding: 0;
    border-radius: 0;
    border-style: none;
    background-color: #F1F2F2;
}

.search-events .event-box a:hover {
    text-decoration: none;
}

.search-events .event-caption {
    margin: 10px 15px;
    padding-bottom: 10px;   
}

.search-events .event-caption-head {
    margin-bottom: 10px;
    height: 35px;
}

.search-events .event-name {
    color: #0F3844;
}

.search-events .event-price {
    color: #0F3844;
    font-size: 12px;
    font-weight: 500;
}

.search-events .event-time {
    margin-top: 10px !important;
    font-weight: 100;
    font-size: 12px;
}

.search-events .event-tag {
    background-color: #E6E6E6;
    color: #000000;
    font-weight: 200;
    font-size: 10px;
}

.gethype-line img {
    width: 100%;
    max-height: 5px;
}

/**************************************/
/*************** Date *****************/
/**************************************/

input[name="date"] {
    position: relative;
    width: 225px; 
    height: 34px;
    color: white;
}

input[name="date"]:before {
    position: absolute;
    content: attr(data-date);
    display: inline-block;
    color: #0f3844;
}

input[name="date"]::-webkit-datetime-edit, input[name="date"]::-webkit-inner-spin-button, input[name="date"]::-webkit-clear-button {
    display: none;
}

input[name="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    right: 5px;
    color: black;
    opacity: 1;
}