.image-right{
	width: 100%;
}

.image-right-list{
	float: left;
	width: 50%;
}

.collection-content{
	width: 70%;
	margin: 50px auto;
}

.collection-content h1{
	font-size: 50px;
	line-height: 65px;
	margin-bottom: 30px;
}

@media(max-width: 767px){
	.collection-content{
		margin-top: 20px;
	}
}