<style>
/**************************************/
/************* Banner Top *************/
/**************************************/

.banner-1, .banner-2, .banner-3, .banner-4 {
    padding-left: 0 !important;
}

.banner-1 .thumbnail, .banner-2 .thumbnail, .banner-3 .thumbnail, .banner-4 .thumbnail {
    padding: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.banner-top {
    z-index: 100;
}

.carousel-inner .item img {
    height: 100%;
}

/**************************************/
/************* Home Title *************/
/**************************************/

.home-title {
    color: #0f3844;
    margin: 50px 0 15px; 
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
}

.banner-row-2 img {
    height: 300px; width: 100%
}

/**************************************/
/************* Search Bar *************/
/**************************************/

.search {
    background-color: #f1f2f2;
}

.search-bar {
    margin-bottom: 40px;
}

.search-bar select, .search-bar input {
    float: left;
    -webkit-appearance: none;
    border: 2px solid #0f3844;
    border-radius: 0;
    color: #0f3844;
    background-color: #f1f2f2;
}

.search-category, .search-type {
    max-width: 19%;
}

.search-location {
    max-width: 17%;
}

.search-date {
    max-width: 15%;
}

.search-price {
    max-width: 15%;
}

.search-bar button {
    width: 15%;
    border-radius: 0;
    background-color: #d33e40;
    border-color: #d33e40;
}

.search-bar button:hover {
    background-color: #d33e40;
    border-color: #d33e40;
}

::-webkit-input-placeholder {
    color: #0f3844;
}
:-moz-placeholder {
    color: #0f3844;
}
::-moz-placeholder {
    color: #0f3844;
}
:-ms-input-placeholder {
    color: #0f3844;
}

.gethype-line img {
    width: 100%;
    max-height: 5px;
}

/**************************************/
/************* What's New *************/
/**************************************/

.whats-new {
    background-color: #f1f2f2;
    padding-bottom: 30px;
}

.whats-new .events {
    margin-bottom: 20px;
}

.whats-new .event-box {
    cursor: pointer;
    padding-bottom: 15px;
}

.whats-new .event-box a {
    color: #000;
}

.whats-new .event-box .thumbnail {
    padding: 0;
    border-radius: 0;
    border-style: none;
}

.whats-new .event-box a:hover {
    text-decoration: none;
}

.whats-new .event-caption {
    margin: 10px 15px;
    padding-bottom: 10px;
}

.whats-new .event-caption-head {
    height: 35px;
}

.whats-new .event-name {
    color: #0f3844;
}

.whats-new .event-price {
    color: #0f3844;
    font-size: 12px;
    font-weight: 500;
}

.whats-new .event-time {
    margin-top: 10px !important;
    font-weight: 100;
    font-size: 12px;
}

.whats-new .event-tag {
    background-color: #e6e6e6;
    color: #000000;
    font-weight: 200;
    font-size: 10px;
}

.whats-new .view-more {
    text-align: center;
}

.whats-new .view-more a {
    color: #0f3844;
    font-weight: 500;
}


/**************************************/
/*********** Event Collection *********/
/**************************************/

.event-collection {
    background-color: #fff;
}

.event-collection .events{
    margin-bottom: 70px;
}

.event-collection .thumbnail {
    padding: 0;
    border-radius: 0;
    border-style: none;
}

.event-collection .event-image {
    width: 100%;
}

.event-collection .event-name {
    border: 1px solid #ebd38c;
    padding: 18px;
    text-align: center;
    color: #0f3844;
    font-weight: 500;
    font-size: 20px;
}

/**************************************/
/************** Journal ***************/
/**************************************/

.journal{
    background-color: #f1f2f2;
}

.journal .events {
    margin-bottom: 50px;
}

.journal .event-box {
    cursor: pointer;
}

.journal .thumbnail {
    padding: 0;
    border-radius: 0;
    border-style: none;
}

.journal .event-image {
    width: 100%;
}

.journal .event-caption {
    margin: 10px 15px;
}

.journal .event-name {
    text-transform: uppercase;
    color: #0f3844;
    font-weight: 500;
    font-size: 13px;
}

.journal .event-description {
    text-overflow: ellipsis;
    max-width: 170px;
    overflow: hidden; 
    white-space: nowrap;
    display: inline-block;
    font-weight: 100;
    font-size: 12px;
    color: #000000;
    margin-bottom: 10px;
}

.journal .event-read {
    color: #d33e40;
    font-weight: 400;
    margin-top:-3px;
}

/**************************************/
/************* Banner Bottom **********/
/**************************************/
.banner-bottom {
    z-index: 100;
}

.banner-bottom .banner-additional {
    z-index: 100;
    position: relative;
    left: -37px;
    top: 10px;
}

.banner-bottom .banner-title {
    z-index: 100;
    color: #ebd38c;
    font-size: 32px;
    font-weight: 300;
    padding: 24px;
    border: 1px solid #ebd38c;
    width: 300px;
    margin: 0 auto;
}

.banner-bottom .banner-description {
    z-index: 100;
    color: #ebd38c;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

#bottomBanner{
     background-image: url("../images/img-event-planner.jpg");
     height:400px;
}

#bottomBanner .first {
    width: 300px; margin: 0 auto; margin-top: 3em;
}

</style>