.main-banner {
	height: 400px;
	margin-bottom: 40px;
}

.main-banner .caption-banner{
	position: absolute;
	top: 40%;
	text-align: center;
	width: 100%;
}

.main-banner .caption-banner p{
	font-size: 22px;
	margin:5px 0;
	color: #fff;
	line-height: 1.1;
}

@media(max-width: 767px){
	.main-banner {
		height: 250px;
	}

	.main-banner .caption-banner{
		padding: 0 10px;
		top: 20%;
	}
}

.gethype-line {
	margin: 15px 0 20px 0;
}

.gethype-line img{
	width: 100%;
	max-height: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.journals {
	padding-bottom: 50px;
}

.list-journal{
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #a7a9ac;
}

.list-journal a{
	text-decoration: none;
}

.list-journal img{

}

.list-journal .desc{
	color: #123844;
	margin-top: 15px;
	background: #fff;
	height: 45px;
}

@media(max-width: 767px){
	.list-journal .desc{
		height: auto;
	}
}

.list-journal p{
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.01em;
	margin-bottom: 0;
	color: #0f3844;
}

.list-journal .desc .title{
	color: #d53f41;
	font-size: 10px;
}

.list-journal .desc .date{
	color: #8c8c8c;
	font-size: 10px;
	font-weight: 300;
}

.journal-search {
	position: relative;
}

.journal-search .select{
	position: relative;
}

.journal-search .select .caret{
	position: absolute;
	right: 10px;
	top: 15px;
	z-index: 999999;

}

.journal-search .select select{
	border: 1px solid #0f3844;
	border-radius:0;
	width: 120px;
	height: 30px;
    -webkit-appearance: none;
	font-size: 12px;
}

.journal-search .journal-search-input{
	border: 1px solid #0f3844;
	border-radius:0;
	border-left: 0;
	padding-left: 120px;
	height: 30px;
}

.journal-search .journal-search-button{
	position: absolute;
	z-index: 3;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
	background: #d53f40;
	border-radius: 0;
	border: 1px solid #b32c2d;
	height: 30px;
	font-size: 12px;
}

.journal-search .journal-search-button:hover{
	background:  #b32c2d;
}