@media (min-width: 1200px) {
    .container {
        width: 1080px;
    }
}

/**************************************/
/************** Header ****************/
/**************************************/

.navbar-default {
    background-color: #0f3844;
    border: none;
    font-weight: normal;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 0;
    height: 85px;
}

.no-padding {
    padding:0!important;
}

.navbar-default .navbar-brand {
    color: #f2f2f2;
}

.navbar-default .navbar-nav>li>a {
    color: #f2f2f2;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #ccc;
}

.navbar-default .navbar-brand img {
    width: 60px;
}

.navbar-default .nav-bar-right {
    vertical-align: text-top;
}

.navbar-nav > li > a {
   line-height: 55px;
   font-size: 14px;
}

.navbar-right li > ul {
   border-radius: 0 !important;
}

.navbar-right li > ul > li > a {
   font-size: 14px;
   font-weight: 300;
   letter-spacing: 0;
}

.user-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/**************************************/
/************** Footer ****************/
/**************************************/

.footer {
    color: #f2f2f2;
    background-color: #0F3844;
    font-size: 17px;
    display: -webkit-box;
    position: inherit;
}

.footer ul {
    list-style-type: none;
    padding: 20px 0;
}

.footer a {
    color: #f2f2f2;
    font-weight: 100;
    font-size: 16px;
}

.footer a:hover {
    cursor: pointer;
    text-decoration: none;
}

.footer-main {
    margin-top: 2.8em;
}

.footer-main img {
    width: 90px;
}

.footer-main .footer-list-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}

.footer-main .footer-list {
    margin-bottom: 5px;
}

.footer-main p {
    margin-bottom: 5px;
}

.footer-secondary {
    text-align: center;
}

.footer-secondary img {
    width: 100%;
    height: 7px;
}

.footer-secondary p {
    margin-top: 20px;
    font-weight: 100;
}


/**************************************/
/************* Subscribe **************/
/**************************************/

.subscribe {
    padding-top: 2em; 
    font-weight: 100;
}

.subscribe-title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.subscribe-description {
    color: #f2f2f2;
    font-size: 16px;
}

.subscribe-form {
    margin-top: 10px;
}

.subscribe input {
    border-color: #f2f2f2;
    border-radius: 0;
    background-color: #0f3844;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.subscribe-submit {
    border-color: #f2f2f2;
    border-radius: 0;
    color: #0f3844;
    font-size: 18px;
    font-weight: 500;
}

.subscribe-submit {
    cursor: pointer;
}

.subscribe-submit.disabled {
    background-color: #ccc; 
}

.subscribe-message {
    color: #fff;
}

.subscribe ::-webkit-input-placeholder {
    color: #fff;
}

.subscribe :-moz-placeholder {
    color: #fff;
}

.subscribe ::-moz-placeholder {
    color: #fff;
}

.subscribe ::-ms-input-placeholder {
    color: #fff;
}