body {
	background-color: #F1F2F2 !important;
}

.myevents {
	margin-top: 30px;
	padding-bottom: 50px !important;
}

.myevents-header {
	margin-bottom: 30px;
	margin-left: 0 !important;
}

.myevents-title {
	font-size: 20px;
	font-weight: 600;
	color: #0F3844;
	margin-bottom: 0;
}

.myevents-content {
	font-size: 14px;
	font-weight: 300;
	color: #0F3844;
}

.myevents a {
	text-decoration: none;
	color: #0F3844;
	background-color: none;
}

.myevents a:hover {
	text-decoration: none;
	color: #0F3844;
	background-color: none;
}

/**************************************/
/********* MyEvents Sidebar ***********/
/**************************************/

.myevents-sidebar li {
	border-radius: 0;
	background-color: #fff;
}

.myevents-sidebar a {
	color: #0F3844;
	background-color: #fff;
	font-size: 13px;
}

.myevents-sidebar li.active:after {
    content: "";
    display: block;
    height: 3px;
    width: 90%;
    background: #EBD38C;
    margin: 0 auto;
}

.myevents-sidebar li.active a {
	background-color: #fff !important;
	color: #0F3844 !important;
}

.myevents-sidebar li.active a:hover {
    background-color: #F1F2F2 !important;
}

.myevents li a:hover {
	color: #0F3844 !important;
}

/**************************************/
/*********** MyEvents List ************/
/**************************************/

.myevents-list {
	max-width: 90%;
	margin-left: 60px;
}

.myevents-list-row {
	border-left: 4px solid #EBD38C;
	background-color: #fff;
	margin-bottom: 10px;
	cursor: pointer;
}

.myevents .thumbnail {
	border-radius: 0;
    border-style: none;
    margin-bottom: 0;
}

.event-header {
	margin-top: 5px;
	margin-bottom: 0;
}

.event-name {
	font-size: 22px;
	font-weight: 400;
}

.event-share {
	font-size: 12px;
	padding-top: 5px;
}

.event-header button {
	padding: 7px 7px;
	margin-left: 5px;
}

.event-time, .event-url {
	font-size: 11px;
	font-weight: 400;
	margin-bottom: 5px;
}

.event-location {
	font-size: 11px;
	font-weight: 400;
	line-height: 1.2;
}