body {
	background-color: #F1F2F2 !important;
}

/**************************************/
/*********** Orders General ***********/
/**************************************/

.orders {
	margin-top: 50px;
	margin-bottom: 30px;
}

.event-name {
	font-size: 18px;
}

.event-date {
	font-size: 11px;
}

.orders a {
	text-decoration: none;
	color: #0F3844;
	background-color: none;
}

.orders a:hover {
	text-decoration: none;
	color: #0F3844;
	background-color: none;
}

.orders-content {
	margin-bottom: 70px;
}

.orders-bottom {
	text-align: center;
}

/**************************************/
/********** Orders Sidebar ************/
/**************************************/

@media(max-width: 767px){
	.orders-sidebar{
		padding: 0;
	}
}

.orders-sidebar li {
	border-radius: 0;
	background-color: #fff;
}

.orders-sidebar a {
	color: #0F3844;
	background-color: #fff;
	font-size: 13px;
	min-height: 100px;
	padding: 5px 5px 5px 5px !important;
}

.orders-sidebar li.active:after {

}

.orders-sidebar li.active a {
	background-color: #fff !important;
	color: #0F3844 !important;
	border-left: 3px solid #EBD38C;
}

.orders-sidebar li.active a:hover {
    background-color: #F1F2F2 !important;
}

.orders-sidebar .thumbnail {
	padding: 0;
	margin-bottom: 0;
}


/**************************************/
/*********** Orders Detail ************/
/**************************************/

.orders-detail {
	background-color: #fff;
}

@media(max-width: 767px){
	.orders-detail{
		margin-top: 20px;
	}
}

.orders-detail .title {
	font-size: 10px;
	font-weight: 200;
	margin-top: 10px;
	margin-bottom: 0;
}

.orders-detail .description {
	font-size: 17px;
	font-weight: 400;
}

.row-1, .row-2, .row-3 {
	border-bottom: 1px dotted black;
}

.row-1 .col-1, .row-1 .col-2, .row-3 .col-1 {
	border-right: 1px dotted black;
}

.row-2 .col-2 {
	border-left: 1px dotted black;
	border-right: 1px dotted black;
}

.border-left{
	border-left: 1px dotted black;
}

.ticket-type{
	border-left: 1px dotted black;
	border-right: 1px dotted black;
}

.payment-method{
}

@media(max-width: 767px){
	.ticket-type{
		border-bottom: 1px dotted black;
		border-left: 1px dotted black;
	}

	.payment-ammount{
		border-top: 1px dotted black;
	}


}



.row-3 {
	text-align: center;
}

.status-icon {
	width: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
}